<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(head = null,content = ~{::content})}">
<th:block th:fragment="content">
  <div class="linkPage">


    <div class="linkPage_content">
      <div class="site_info_group">
        <div class="site_info_text">
          <h1 class="site_info_group_title" th:text="${site.title}"></h1>
          <span class="site_info_group_desc" th:text="${site.subtitle}"></span>
        </div>

        <img class="site_info_group_back_cover"
          th:src="${theme.config.style.cover_img ?: #theme.assets('/images/index_cover2.jpg')}" alt="cover" />
      </div>

      <th:block
        th:replace="~{widgets/search}"
      />

      <th:block th:each="group : ${linkFinder.groupBy()}" th:if="${#annotations.getOrDefault(group, 'show_on_heolink', 'true') == 'true'}">
        <div class="link_group" th:if="${#lists.size(group.links) > 0}">
          <div class="link_group_title_content" th:if="${group.spec.displayName != ''}" >
            <i th:class="${#annotations.getOrDefault(group, 'icon', 'ri-archive-stack-fill')}"></i>
            <h2 class="link_group_title" th:text="${group.spec.displayName}"
              th:id="${group.spec.displayName}"></h2>
          </div>

          <div class="link_group_content">
            <a class="link_group_content_link" th:each="link : ${group.links}" :key="i" th:with="item_url = ${#annotations.contains(link, 'to_post') ? postFinder.getByName(#annotations.get(link, 'to_post')).status.permalink : link.spec.url}" th:href="${item_url}"
            th:target="${#annotations.contains(link, 'to_post') ? '' : '_blank'}">
              <div class="link_group_content_item">
                <div class="link_group_content_item_logo">
                  <img class="link_group_content_item_logo_img"
                       th:with="icon_api= ${theme.config.info.icon_api ?: 'https://api.zhheo.com/favicon/get.php?url={url}'}, 
                                 item_url=${item_url}, 
                                 isRelativeUrl=${item_url.startsWith('/')},
                                 custom_logo=${link.spec.logo},
                                 used_logo= ${custom_logo ?: icon_api.replace('{url}', item_url)},
                                 used_site_logo = ${custom_logo ?: (site.favicon ?: #theme.assets('/images/logo_cover.jpg'))}
                                ",
                       th:src="${isRelativeUrl ? used_site_logo : used_logo}"
                       th:alt="${link.spec.displayName}" loading="lazy"/>
                </div>
                
                             
                <div class="link_group_content_item_info">
                  <div class="link_group_content_item_info_content">
                    <p class="link_group_content_item_info_content_title" th:text="${link.spec.displayName}"></p>
                    <p class="link_group_content_item_info_content_description" th:text="${link.spec.description}"></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </th:block>
    </div>

  </div>

</th:block>

</html>