<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(head = null,content = ~{::content})}">
<th:block th:fragment="content">
  <div class="linkPage" th:if="${pluginFinder.available('PluginLinks')}">
    <th:block
    th:replace="~{widgets/nav}"
  />

    <div class="linkPage_content">
      <div class="site_info_group">
        <div class="site_info_text">
          <h1 class="site_info_group_title" th:text="${site.title}"></h1>
          <span class="site_info_group_desc" th:text="${site.subtitle}"></span>
        </div>

        <img class="site_info_group_back_cover"
          th:src="${theme.config.style.cover_img ?: #theme.assets('/images/index_cover2.jpg')}" alt="cover" />
      </div>

      <th:block
        th:replace="~{widgets/search}"
      />

      <th:block th:each="group : ${linkFinder.groupBy()}">
        <div class="link_group">
          <div class="link_group_title_content" th:if="${group.spec.displayName != ''}" >
            <i th:class="${#annotations.getOrDefault(group, 'icon', 'ri-archive-stack-fill')}"></i>
            <h2 class="link_group_title" th:text="${group.spec.displayName}"
              th:id="${group.spec.displayName}"></h2>
          </div>

          <div class="link_group_content">
            <a class="link_group_content_link" th:each="link : ${group.links}" :key="i" th:href="${link.spec.url}"
              target="_blank">
              <div class="link_group_content_item">
                <div class="link_group_content_item_logo">
                  <img class="link_group_content_item_logo_img"
                    th:src="${link.spec.logo ?: ('https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=' + link.spec.displayName)}"
                    th:alt="${link.spec.displayName}" />
                </div>
                <div class="link_group_content_item_info">
                  <div class="link_group_content_item_info_content">
                    <p class="link_group_content_item_info_content_title" th:text="${link.spec.displayName}"></p>
                    <p class="link_group_content_item_info_content_description" th:text="${link.spec.description}"></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </th:block>
    </div>

  </div>

  <h1 th:if="${pluginFinder.available('PluginLinks') == false}" class="no_data">请安装链接管理插件：https://www.halo.run/store/apps/app-hfbQg</h1>

</th:block>

</html>